* {
    box-sizing: border-box;
  }
  
  html {
    font-family: 'Jost', sans-serif;
  }
  
  body {
    margin: 0;
  }
  
  header {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 3rem auto;
    border-radius: 10px;
    padding: 1rem;
    background-color: #4fc08d;
    color: white;
    text-align: center;
    width: 90%;
    max-width: 40rem;
  }
  
  #events {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 3rem auto;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    width: 90%;
    max-width: 40rem;
  }
  
  #events h2 {
    font-size: 2rem;
    border-bottom: 4px solid #ccc;
    color: #4fc08d;
    margin: 0 0 1rem 0;
  }
  
  #events p {
    font-size: 1.25rem;
    font-weight: bold;
    border: 1px solid #4fc08d;
    background-color: #4fc08d;
    color: white;
    padding: 0.5rem;
    border-radius: 15px;
  }
  
  #events p.response {
    font-size: 0.75rem;
    border: 1px solid #4fc08d;
    background-color: #bfffe2;
    color: black;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: left;
    font-weight: normal;
  }
  
  #events input {
    font: inherit;
    border: 1px solid #ccc;
  }
  
  #events input:focus {
    outline: none;
    border-color: #1b995e;
    background-color: #d7fdeb;
  }
  
  #events button {
    font: inherit;
    cursor: pointer;
    border: 1px solid #0019fb;
    background-color: #0019fb;
    color: white;
    padding: 0.05rem 1rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    margin: 0 1rem;
  }
  
  #events button:hover,
  #events button:active {
    background-color: #949fff;
    border-color: #949fff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
  }
  
  .styled-table {
    border-collapse: collapse;
    margin: 3rem auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
  }
  
  .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
  }
  
  .styled-table td {
    padding: 12px 15px;
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody td {
    font-weight: bold;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .styled-table tbody tr:hover {
    background-color: lightgray;
  }
  
  .styled-table tbody td.red {
    color: #9e004f;
  }
  
  .styled-table tbody td.green {
    color: #009414;
  }